/* @@author A0125372L */
.check-box>.box 
{
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-color: transparent;
}
.check-box>.box>.mark {
  -fx-background-image: url("star1.png");
  -fx-padding: 30px;
  -fx-height: 40px;
  -fx-width: 40px;
  -fx-background-position: center;
  -fx-background-repeat: stretch;
  -fx-shape: none;
}
.check-box:selected>.box>.mark{
  -fx-background-color: transparent;
  -fx-padding: 30px;
  -fx-height:40px;
  -fx-width: 40px;
  -fx-background-image: url("star2.png");
}
.label
{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-font-weight:900;
}
