/* @@author A0125372L */
#color0{
	 -fx-background-color: 
        #F44336,
        radial-gradient(center 50% 0%, radius 100%,rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
     
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;
	
}
#color1{
    -fx-background-color: 
        #CE3323,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;
}
#color2{
      -fx-background-color: 
        #87CEEB,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;
}
#color3{
      -fx-background-color: 
        #6FC6FF,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;
    
}
#color4{
  -fx-background-color: 
        #3F51B5,
        radial-gradient(center 50% 0%, radius 100%,rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;

}
#color5{
    -fx-background-color: 
        #090a0c,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;

}
#color6{
    -fx-background-color: 
         #CD6509,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;
}
#color7{
    -fx-background-color: 
         #93228D,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;
}

#color8{
    -fx-background-color: 
         #FFCB00,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;
}

#color9{
    -fx-background-color: 
         #FF6EB0,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight:900;
}

#color10{
    -fx-background-color: 
         #32B92D,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color11{
    -fx-background-color: 
         #6C2082,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color12{
    -fx-background-color: 
         #53ADA8,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color13{
    -fx-background-color: 
         #F9DC6B,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color14{
    -fx-background-color: 
         #E0B669,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color15{
    -fx-background-color: 
         #400118,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color16{
    -fx-background-color: 
         #A64166,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color17{
    -fx-background-color: 
         #DFA4B5,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color18{
    -fx-background-color: 
         #D4DEAF,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color19{
    -fx-background-color: 
         #665866,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color20{
    -fx-background-color: 
         #8F6690,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color21{
    -fx-background-color: 
         #B0A4DB,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color22{
    -fx-background-color: 
         #C5E3D7,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color23{
    -fx-background-color: 
         #DEFFCF,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color24{
    -fx-background-color: 
         #586E69,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color25{
    -fx-background-color: 
         #63B7A4,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#color26{
    -fx-background-color: 
         #EBE664,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}
#noncolor{
    -fx-background-color: 
         #6C7A89,
        radial-gradient(center 50% 0%, radius 100%, rgba(0.1,0,255,00), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 5,5,5,5;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight:900;
}